@import "normalize.css";
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
* {
  box-sizing: border-box;
  line-height: 1;
}
/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */
.clearfix:before,
.clearfix:after,
.info-center .info-list a:before,
.info-center .info-list a:after {
  content: "";
  display: table;
}
.clearfix:after,
.info-center .info-list a:after {
  clear: both;
}
.text-ellipsis,
.info-center .info-detail {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
html,
button,
input,
select,
textarea {
  color: #222;
}
html {
  font-size: 20px;
}
body {
  font-size: 0.7rem;
  background-color: #f4f4f4;
}
.mt10 {
  margin-top: 0.5rem;
}
.mt20 {
  margin-top: 1rem;
}
.mb15 {
  margin-bottom: 0.75rem;
}
/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.primary-color {
  color: #37b18a;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
a {
  color: inherit;
  text-decoration: none;
}
.pos-rel {
  position: relative;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-bottom: -1px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}
.input-group label {
  display: block;
}
.input-group-addon {
  position: absolute;
  top: 50%;
  margin-top: -0.45rem;
  font-size: 0.9rem;
  color: #888;
}
.input-group-addon.left {
  left: 10px;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.5rem 1.8rem;
  line-height: 1rem;
  color: #555;
  background-color: #fff;
  border: 1px solid #dcdcdc;
  box-shadow: none;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  border-radius: 0.2rem;
}
.form-control:focus {
  outline-width: 0;
  border-color: #37b18a;
}
.clear-input {
  z-index: 10;
  display: none;
  position: absolute;
  top: 50%;
  margin-top: -0.45rem;
  right: 0.5rem;
  color: #888;
}
.clear-input:focus {
  color: #c9302c;
}
.clear-input .fa {
  font-size: 0.9rem;
  color: inherit;
}
.container {
  width: 100%;
  padding: 0 10%;
}
.content {
  max-width: 20rem;
  margin: 0 auto;
  padding: 6% 0 8%;
}
.btn-login {
  width: 100%;
  margin-top: 1.5rem;
  padding: 0.6rem 0;
  font-size: 0.8rem;
  text-align: center;
  background-color: #37b18a;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 0.2rem;
}
.btn-login:hover,
.btn-login:focus {
  background-color: #52c9a3;
  outline-width: 0;
}
.cant-login a {
  display: inline-block;
  padding: 0.6rem 0;
}
.cant-login a:focus {
  text-decoration: underline;
}
.banner-login {
  display: block;
  margin: 0 auto 2.5rem;
  width: 7.5rem;
  max-width: 11rem;
}
/*个人中心*/
.info-center .info-list {
  background-color: #fff;
}
.info-center .info-list a {
  padding: 0.5rem 0;
}
.info-center .info-list li + li {
  border-top: 1px solid #e5e5e5;
}
.info-center .info-title,
.info-center .info-detail {
  display: table-cell;
}
.info-center .info-detail {
  float: right;
  width: 100%;
  padding-left: 6rem;
  text-align: right;
}
.info-center .fa {
  font-size: 1.5rem;
}
.info-center .fa-shopping-cart {
  color: #00b3da;
}
.info-center .fa-map-marker {
  color: #3cc1a9;
}
.info-center .fa-credit-card {
  color: #eca700;
}
.info-center .fa-phone-square {
  color: #ff861a;
}
.info-center .fa-sign-out {
  color: #808080    ;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/* Prevent callout */
.nocallout {
  -webkit-touch-callout: none;
}
.pressed {
  background-color: rgba(0, 0, 0, 0.7);
}
/* A hack for HTML5 contenteditable attribute on mobile,在ios中清楚内阴影 */
input,
textarea[contenteditable] {
  -webkit-appearance: none;
}
/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */
.gifhidden {
  position: absolute;
  left: -100%;
}
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  direction: ltr;
  display: block;
  overflow: hidden;
  text-align: left;
  text-indent: -999em;
}
.ir br {
  display: none;
}
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 800px) {
  /* Style adjustments for viewports that meet the condition */
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  /* Style adjustments for viewports that meet the condition */
}
