@import "normalize.css";
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
* {
  box-sizing: border-box;
  line-height: 1;
}
/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */
.clearfix:before,
.clearfix:after,
.default-modal .modal-footer:before,
.default-modal .modal-footer:after,
.info-center .info-list a:before,
.info-center .info-list a:after,
.info-center .list-group-item:before,
.info-center .list-group-item:after,
.info-center .order-status:before,
.info-center .order-status:after,
.change-info .register-step:before,
.change-info .register-step:after,
.address .add-action:before,
.address .add-action:after {
  content: "";
  display: table;
}
.clearfix:after,
.default-modal .modal-footer:after,
.info-center .info-list a:after,
.info-center .list-group-item:after,
.info-center .order-status:after,
.change-info .register-step:after,
.address .add-action:after {
  clear: both;
}
.text-ellipsis,
.info-center .info-detail {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
html,
button,
input,
select,
textarea {
  color: #222;
}
html {
  font-size: 20px;
}
body {
  font-family: "Helvetica Neue", Helvetica, "microsoft yahei", sans-serif;
  font-size: 0.7rem;
  background-color: #f4f4f4;
  min-width: 16rem;
}
.mt10 {
  margin-top: 0.5rem;
}
.mt20 {
  margin-top: 1rem;
}
.mb15 {
  margin-bottom: 0.75rem;
}
.ml10 {
  margin-left: 0.5rem;
}
.mr10 {
  margin-right: 0.5rem;
}
.mr20 {
  margin-right: 1rem;
}
.ptb {
  padding: 0.6rem 0;
}
.pr10 {
  padding-right: 0.5rem;
}
.pr20 {
  padding-right: 1rem;
}
/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.primary-color {
  color: #37b18a;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
a {
  color: inherit;
  text-decoration: none;
}
.pos-rel {
  position: relative;
}
.pos-fb {
  display: block;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 21;
  background-color: #37b18a;
  color: #fff;
  padding: 0.6rem 0;
  text-align: center;
  font-size: 0.8rem;
  line-height: 1rem;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 0.5rem;
  margin-bottom: -1px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}
.media-left,
.media-right,
.media-body {
  display: table-cell;
}
.input-group label {
  display: block;
}
.input-group-addon {
  position: absolute;
  top: 50%;
  margin-top: -0.45rem;
  font-size: 0.9rem;
  color: #888;
}
.input-group-addon.left {
  left: 10px;
}
.form-control {
  display: block;
  width: 100%;
  line-height: 1rem;
  color: #555;
  background-color: #fff;
  border: 1px solid #dcdcdc;
  box-shadow: none;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  border-radius: 0.2rem;
}
.form-control:focus {
  outline-width: 0;
}
.clear-input {
  z-index: 10;
  display: inline-block;
  position: absolute;
  top: 50%;
  margin-top: -0.45rem;
  right: 0.5rem;
  color: #888;
}
.clear-input:focus {
  color: #c9302c;
}
.clear-input .fa {
  font-size: 0.9rem;
  color: inherit;
}
.btn,
.action-primary,
.action-default,
.btn-login,
.change-info .change-submit {
  border: 1px solid transparent;
  border-radius: 0.2rem;
  padding: 0.6rem 0;
  text-align: center;
  color: #fff;
}
.btn:focus,
.action-primary:focus,
.action-default:focus {
  outline-width: 0;
}
.tip {
  color: #6ba5fe;
  padding-left: 1rem;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 22;
  display: none;
  overflow: hidden;
  webkit-overflow-scrolling: touch;
  outline-width: 0;
  background-color: rgba(152, 152, 152, 0.6);
}
.modal-content {
  width: 80%;
  margin: 50% auto 0;
  box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.5);
  border-radius: 0.2rem;
  outline-width: 0;
  background-color: #fff;
}
.modal-header {
  position: relative;
  padding: 0.6rem 0;
  background-color: #37b18a;
  color: #fff;
  text-align: center;
  border-bottom: 1px solid rgba(141, 140, 140, 0.2);
}
.modal-title {
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
}
.modal-body {
  padding-top: 1rem;
  text-align: center;
}
.modal-footer {
  padding: 0.6rem 0;
}
.mc-icon {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
  color: #70ceb0;
  background-color: transparent;
  border: 1px solid transparent;
}
.mc-icon:focus {
  outline-width: 0;
}
.default-modal .modal-footer {
  margin-top: 1rem;
}
.default-modal .action-primary,
.default-modal .action-default {
  float: left;
  display: block;
  color: #fff;
  width: 40%;
  margin: 0 5%;
}
.default-modal .action-primary {
  background-color: #37b18a;
}
.default-modal .action-default {
  background-color: #b7b7b7;
}
.container {
  width: 100%;
  padding: 0 10%;
}
.content {
  max-width: 20rem;
  margin: 0 auto;
  padding: 6% 0 8%;
}
.login .form-control {
  padding: 0.5rem 1.8rem;
}
.login .form-control:focus {
  border-color: #37b18a;
}
.btn-login {
  width: 100%;
  margin-top: 1.5rem;
  font-size: 0.8rem;
  background-color: #37b18a;
}
.btn-login:hover,
.btn-login:focus {
  background-color: #52c9a3;
  outline-width: 0;
}
.cant-login a {
  display: inline-block;
  padding: 0.6rem 0;
}
.cant-login a:focus {
  text-decoration: underline;
}
.banner-login {
  display: block;
  margin: 0 auto 2.5rem;
  width: 7.5rem;
  max-width: 11rem;
}
/*个人中心*/
.info-center {
  margin-bottom: 2rem;
}
.info-center .info-list {
  background-color: #fff;
}
.info-center .info-list a {
  padding: 0.5rem 0;
}
.info-center .info-list li + li {
  border-top: 1px solid #e5e5e5;
}
.info-center .info-title,
.info-center .info-detail {
  display: table-cell;
}
.info-center .info-detail {
  float: right;
  width: 100%;
  padding-left: 6rem;
  text-align: right;
}
.info-center .list-group-item .fa,
.info-center .list-group-item .list-title {
  float: left;
}
.info-center .list-group-item .list-value {
  float: right;
}
.info-center .list-group-item .list-title,
.info-center .list-group-item .list-value {
  line-height: 30px;
}
.info-center .list-group-item .fa {
  margin: 0 0.5rem 0 0;
  font-size: 1.5rem;
}
.info-center .list-group-item .fa-shopping-cart {
  color: #00b3da;
}
.info-center .list-group-item .fa-map-marker {
  color: #3cc1a9;
}
.info-center .list-group-item .fa-credit-card {
  color: #eca700;
}
.info-center .list-group-item .fa-phone-square {
  color: #ff861a;
}
.info-center .list-group-item .fa-sign-out {
  color: #808080    ;
}
.info-center .order-status {
  margin: 0.5rem 0;
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  color: #797979;
}
.info-center .order-status a {
  display: block;
  float: left;
  width: 25%;
  text-align: center;
  padding: 1rem 0;
}
.info-center .order-status a:focus {
  background-color: #52c9a3;
}
.info-center .order-status .fa {
  font-size: 1.5rem;
}
.info-center .order-status .order-status-name {
  display: block;
  margin: 0.5rem 0 0;
}
.info-center .wealth {
  width: 50%;
  float: left;
  padding: 0.75rem 0;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;
}
.info-center .wealth + .wealth {
  border-left: 1px solid #e5e5e5;
}
.info-center .money-title,
.info-center .point-title {
  font-size: 0.9rem;
  margin: 0 0.3rem 0 0;
}
.info-center .money-value,
.info-center .point-value {
  font-size: 1.7rem;
  font-weight: bold;
  color: #37b18a;
}
.info-center header {
  padding: 1rem 0.5rem;
  background-color: #188c65;
}
.info-center .user-avatar {
  max-width: 100px;
  border-radius: 50%;
  height: auto;
  border: 3px solid #31a676;
}
.info-center .user-phone {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}
.info-center .media-body {
  color: #fff;
}
.info-center .media-left,
.info-center .media-body {
  vertical-align: middle;
}
.change-info .title {
  position: relative;
  margin: 0;
  padding: 1rem 0;
  font-size: 0.9rem;
  background-color: #e9e9e9;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.change-info .back-link {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  margin: -1rem 1rem 0;
  font-size: 2rem;
}
.change-info .input-group {
  background-color: #fff;
  padding: 0 1rem;
}
.change-info .form-control {
  padding: 0.6rem 0;
  border: none;
  border-radius: 0;
}
.change-info .border-bottom {
  border-bottom: 1px solid #e5e5e5;
}
.change-info .get-code {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -0.7rem;
  background-color: #6ba5fe;
  color: #fff;
  border: 1px solid transparent;
  padding: 0.3rem 0.4rem;
  border-radius: 0.2rem;
}
.change-info .change-submit {
  display: block;
  width: 70%;
  margin: 1.5rem auto 0;
  background-color: #28ab81;
  font-size: 0.9rem;
}
.change-info .change-submit:focus {
  outline-width: 0;
  background-color: #52c9a3;
}
.change-info .action-section {
  width: 80%;
  margin: 0 auto;
}
.change-info .action-section .contract-wrap {
  font-size: 0.6rem;
  margin-top: 0.5rem;
}
.change-info .action-section .change-submit {
  width: 100%;
}
.change-info .action-section .fa {
  width: 0.6rem;
  font-size: 0.7rem;
  margin-right: 0.25rem;
  color: #28ab81;
}
.change-info .find-code2 label,
.change-info .reg-step-2 label {
  display: inline-block;
}
.change-info .find-code2 .form-control,
.change-info .reg-step-2 .form-control {
  display: inline-block;
  width: auto;
}
.change-info .gender {
  position: relative;
  padding: 0.6rem 1rem;
  background-color: #fff;
  line-height: 1rem;
}
.change-info .gender .fa {
  color: #28ab81;
  font-size: 1rem;
  vertical-align: bottom;
  position: absolute;
  right: 1rem;
}
.change-info .gender + .gender {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.change-info .contract-link {
  color: #75aafb;
}
.change-info .error-tips {
  visibility: hidden;
  color: #75aafb;
}
.change-info .error-tips.show {
  margin: 0.5rem 0 -0.5rem;
  visibility: visible;
}
.change-info .register-step {
  padding: 0.6rem 1rem;
  margin-bottom: 0.5rem;
  background-color: #fff;
}
.change-info .register-step .fa {
  display: block;
  font-size: 0.9rem;
  position: relative;
  z-index: 2;
}
.change-info .register-step .fa:before {
  background-color: #fff;
}
.change-info .reg-step1,
.change-info .reg-step2,
.change-info .reg-step3 {
  position: relative;
  float: left;
  width: 33.33%;
  text-align: center;
}
.change-info .reg-step1.no,
.change-info .reg-step2.no,
.change-info .reg-step3.no {
  color: #c1c1c1;
}
.change-info .reg-step1.yes,
.change-info .reg-step2.yes,
.change-info .reg-step3.yes {
  color: #37b18a;
}
.change-info .line {
  position: absolute;
  display: block;
  border: 1px solid;
  width: 100%;
  top: 0.4rem;
  left: -50%;
}
.change-info .choice-gender .fa {
  margin-right: 0.1rem;
  color: #37b18a;
}
.address {
  background-color: #fff;
}
.address .add-wrap {
  padding: 0.6rem 1rem;
}
.address .add-action {
  padding: 0.6rem 1rem;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  color: #999;
}
.address .name,
.address .set-default {
  float: left;
}
.address .set-default.yes {
  color: #37b18a;
}
.address .number,
.address .edit,
.address .delete {
  float: right;
}
.address .delete {
  margin-left: 1.5rem;
}
.address .location {
  margin-top: 0.4rem;
  color: #999;
  text-align: justify;
  line-height: 1.4;
}
.address .fa {
  margin-right: 0.15rem;
}
.address + .address {
  margin-top: 0.5rem;
}
.address:last-of-type {
  margin-bottom: 2.5rem;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/* Prevent callout */
.nocallout {
  -webkit-touch-callout: none;
}
.pressed {
  background-color: rgba(0, 0, 0, 0.7);
}
/* A hack for HTML5 contenteditable attribute on mobile,在ios中清楚内阴影 */
input,
textarea[contenteditable] {
  -webkit-appearance: none;
}
/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */
.gifhidden {
  position: absolute;
  left: -100%;
}
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  direction: ltr;
  display: block;
  overflow: hidden;
  text-align: left;
  text-indent: -999em;
}
.ir br {
  display: none;
}
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 800px) {
  /* Style adjustments for viewports that meet the condition */
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  /* Style adjustments for viewports that meet the condition */
}
